In [1]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.3)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
import pandas as pd
pd.__version__

'1.3.3'

In [3]:
df_left = pd.DataFrame(
                      {'X': ['x0', 'x1', 'x2', 'x3'],
                       'W': ['w0', 'w1', 'w2', 'w3'], 
                       'Y': ['y0', 'y1', 'y2', 'y3']},
                       index=[0,1,2,3])
df_left

    X   W   Y
0  x0  w0  y0
1  x1  w1  y1
2  x2  w2  y2
3  x3  w3  y3

In [4]:
df_right = pd.DataFrame(
                       {'Z': ['z2', 'z3', 'z4', 'z5'],
                         'A': ['a2', 'a3', 'a4', 'a5'], 
                         'Y': ['y2', 'y3', 'y4', 'y5']},
                        index=[2,3,4,5])
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

Hago un merge entre los dos df que tienen un parametro en comun (y2, y3):

In [5]:
pd.merge(df_left,df_right)

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

Especificar el tipo de union que se esta presentando:

In [6]:
pd.merge(df_left,df_right, how='inner', on='Y') # union(how) 'inner', columna(on) Y

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

Para unir dos columnas diferentes:

In [ ]:
pd.merge(df_left,df_right, how='inner', left_on='Mix', right_on='Y')

In [ ]:
pd.merge(df_left,df_right, how='inner', left_on='Mix', right_on='A')

### ***Cuantos tipos de merge podemos llegar a tener:***

![](http://www.datasciencemadesimple.com/wp-content/uploads/2017/09/join-or-merge-in-python-pandas-1.png)

`how='inner'`  Funciona trayendo los parametros que tienen en comun los df

`how='outer'`  Se juntan todos los parametros

`how='left'`  Se respeta el df de izquierda y se le añade los parametros del de la derecha

`how='right'`  Se respeta de df de la derecha y se le añade los parametros del de la izquierda

Como funcionan en detalle:

Con inner se van a analizar solo en los variables que tienen en comun

In [9]:
pd.merge(df_left, df_right, how='inner', on='Y')

    X   W   Y   Z   A
0  x2  w2  y2  z2  a2
1  x3  w3  y3  z3  a3

Con left el df de izquirda se mantiene intacto y se le añade los datos del df derecho

In [10]:
pd.merge(df_left, df_right, how='left', on='Y')

    X   W   Y    Z    A
0  x0  w0  y0  NaN  NaN
1  x1  w1  y1  NaN  NaN
2  x2  w2  y2   z2   a2
3  x3  w3  y3   z3   a3

Con right se respeta el tamaño y los numeros del df de la derecha y se le añaden los datos de la iquierda

In [11]:
pd.merge(df_left, df_right, how='right', on='Y')

     X    W   Y   Z   A
0   x2   w2  y2  z2  a2
1   x3   w3  y3  z3  a3
2  NaN  NaN  y4  z4  a4
3  NaN  NaN  y5  z5  a5

Para mantener todos los datos, tanto izquierdos como derechos, lo hago a travez de outer:

In [12]:
pd.merge(df_left, df_right, how='outer', on='Y')

     X    W   Y    Z    A
0   x0   w0  y0  NaN  NaN
1   x1   w1  y1  NaN  NaN
2   x2   w2  y2   z2   a2
3   x3   w3  y3   z3   a3
4  NaN  NaN  y4   z4   a4
5  NaN  NaN  y5   z5   a5

### ***Hay otros tipos de merge cuando se comparten mas de un solo parámetro:***

Primero edito mi df izquierdo:

In [13]:
df_left = pd.DataFrame(
                      {'X': ['x0', 'x1', 'x2', 'x3'],
                        'W': ['w0', 'w1', 'w2', 'w3'], 
                        'Y': ['y0', 'y1', 'y2', 'y3'],
                        'A': ['a0', 'a1', 'a2', 'a3'],})
df_left

    X   W   Y   A
0  x0  w0  y0  a0
1  x1  w1  y1  a1
2  x2  w2  y2  a2
3  x3  w3  y3  a3

In [14]:
df_right

    Z   A   Y
2  z2  a2  y2
3  z3  a3  y3
4  z4  a4  y4
5  z5  a5  y5

In [17]:
pd.merge(df_left, df_right, how ='outer', on = 'A', suffixes=['_left','_right'])

     X    W Y_left   A    Z Y_right
0   x0   w0     y0  a0  NaN     NaN
1   x1   w1     y1  a1  NaN     NaN
2   x2   w2     y2  a2   z2      y2
3   x3   w3     y3  a3   z3      y3
4  NaN  NaN    NaN  a4   z4      y4
5  NaN  NaN    NaN  a5   z5      y5